html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* typo */
  /*  30px, 19px, 36px, 37px, 29px, 45px, 15px; */
  --fs-md: 30px;
  --fs-sm: calc(var(--fs-md) * 0.5);
  --fs-lg: calc(var(--fs-md) * 1.5);
  --fs-xl: calc(var(--fs-md) * 2);

  --fs-md1: 23px; /*23px*/
  --fs-sm1: calc(var(--fs-md1) * 0.83);
  --fs-lg1: calc(var(--fs-md1) * 1.61);
  --ff: "Roboto", sans-serif;
  --ff2: "Montserrat", sans-serif;
  --fw-lt: 300;
  --fw-rg: 400;
  --fw-md: 500;
  --fw-bd: 700;
  /* color */
  --c-white: white;
  --c-blue: #00acec;
  --c-dark-blue: #2196f3;
  --c-dark-gray: #737373;
  --c-gray: #c4c4c4;

  --c-light-gray: #dcdbdb;
  --c-milky: #f2f2f2;
  --c-black: #000;
  --c-light-black: #434343;
  --c-elight-black: #aeaeae;
  --c-yellow: #efe500;
  /* shape */
  --br-r: calc(43px * 0.8);
  --btn-p: calc(20px * 0.8) calc(40px * 0.8);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-white);
  border-radius: var(--br-r);
  background-color: var(--c-blue);
  border: 0;
  padding: var(--btn-p);
  font-size: var(--fs-md1);
  font-weight: var(--fw-rg);
  width: 100%;
}
.btn-sm {
  font-size: 20px;
  padding: 10px 30px;
  font-weight: 400;
}
input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-bc);
  border-radius: var(--br-r);
  background-color: var(--btn-c);
  border: 0;
  padding: var(--btn-p);
  font-size: var(--inp-fs);
  font-weight: var(--btn-fw);
  width: 100%;
}

.minicontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
.icon {
  display: flex;
  background-size: cover;
  width: 360px;
  height: 180px;
}
.icon-sm {
  display: flex;
  background-size: cover;
  width: 140px;
  height: 70px;
}

.logo {
  background-image: url(mu.svg);
}
.text-white-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: var(--btn-fw);
  font-size: var(--btn-fs);
}

.layout-register {
  display: flex;
  background-size: cover;
  background-image: url(register-page.jpg);
  /* opacity: 0.5; */
  width: 100vw;
  height: 100vh;
  background-blend-mode: multiply;
  filter: url(register-page.jpg);
  filter: brightness(30%);
  filter: contrast(200%);
  /* filter: opacity(25%); */
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #fff; */
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding-top: 50px;
  width: 100vw;
  z-index: 10;
}
.header-link {
  color: white;
  font-size: 24px;
  padding-bottom: 10px;
}
.header-link:hover {
  border-bottom: 4px solid #00acec;
}
.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 70px;
}

.locale {
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 0 50px;
}

/* Carousel */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.carousel-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.carousel-center {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
.carousel-center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-center-text .text-title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bd);
}
.carousel-center-text .text-body {
  font-size: var(--fs-lg1);
  font-weight: var(--fw-md);
}

.carousel-down {
  position: absolute;
  bottom: 20px;
}

/* Card-review */

.card-review {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  position: relative;
  gap: 20px;
  background-color: var(--c-milky);
  border-radius: 20px;
  min-height: 220px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-review-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 400px;

  font-size: var(--fs-sm1);
  font-weight: var(--fw-lt);
}

.cr-decor {
  position: absolute;
  top: -12px;
  right: 60px;
}

.crb-author {
  font-family: var(--ff2);
  font-size: var(--fs-md1);
  font-weight: var(--fw-lt);
}

.crb-role {
  font-family: var(--ff);
  font-size: var(--fs-sm);
  font-weight: var(--fw-lt);
  margin: 5px 0 20px;
}

.crb-text {
  font-family: var(--ff);
  font-size: var(--fs-sm1);
  font-weight: var(--fw-lt);
}

/* Card Memeber */

.card-member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-width: 330px;
}

.member-title {
  font-family: var(--ff2);
  font-size: var(--fs-lg1);
  font-weight: var(--fw-lt);
}

.member-role {
  font-family: var(--ff);
  font-size: var(--fs-md1);
  font-weight: var(--fw-lt);
}

.member-sm {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

/* card info */

.card-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: var(--fw-lt);
  max-width: 750px;
  padding: 20px 40px;
  margin: 10px;
  border: 1px solid var(--c-light-gray);
  gap: 10px;
}

.card-info > * {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--ff2);
}
.ci-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-family: var(--ff);
}

.ci-title-name {
  font-size: var(--fs-lg);
  font-weight: var(--fw-rg);
}

.ci-map {
  padding-top: 20px;
}
.ci-text {
  font-family: var(--ff);
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  min-height: 400px;
  padding: 30px;
  font-weight: var(--fw-lt);
  font-size: var(--fs-md1);
  flex-wrap: wrap;
  /* height: 500px; */
  position: relative;
  padding-bottom: 60px;
}

footer > * {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.footer-logo {
  align-items: center;
  justify-content: space-around;
}

.fm-title {
  font-weight: var(--fw-rg);
}

.footer-rights {
  font-size: var(--fs-sm1);
  font-weight: var(--fw-lt);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  background-color: var(--c-light-gray);
  position: absolute;
  bottom: 0;
}
